<p>Today's temperature: <%= forecast[:temperature] %> K</p>
<p>Today's weather description: <%= forecast[:description] %></p>
<p>Today's max temperature: <%= forecast[:high_temperature] %> K</p>
<p>Today's min temperature: <%= forecast[:low_temperature] %> K</p>
<p>Tomorrow's min temperature: <%= tomorrow_forecast[:min_temp] %> K </p>
<p>Tomorrow's max tempratur: <%= tomorrow_forecast[:max_temp] %> K </p>
<p>Tomorrow's weather description: <%= tomorrow_forecast[:description] %> </p>
  <% if from_cache %>
    <p><em>(Result pulled from cache)</em></p>
  <% end %>
